/* ================================= 
  Global Styles
==================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { 
  font-family: 'Merriweather', serif;
  color: #9CA1A6;
 margin: 0;
 padding: 0;
 font-size: 16px;
}

h2 {
  color: #2D3945;
  font-size: 1.2em;
}

footer {
  text-align: center;
}

form {
  max-width: 320px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #fff;
}

fieldset {
  border: none;
}

header  {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  background: #bdc3c7;  /* fallback for old browsers */
  background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-width: 320px;
  color: #fff;
  font-weight: 400;
}

hr {
  margin-bottom: 20px;
}

.hr-style {
  border-top: 5px #2D3945 solid;
  height: 10px;
  border-bottom: 2px #2D3945 solid;
  border-left: 0;
  border-right: 0;
}

.hr-2-style {
  border: 1px solid #2D3945;
}

/* ================================= 
  Base Styles
==================================== */

.form-title {
  text-align: center;
  padding: 5px 0 15px;
}

.form-title p {
  font-size: .9em;
}

fieldset legend {
  color: #2D3945;
  font-size: 1.3em;
  font-weight: 900;
  margin: .5em 0 .5em 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  border: 1px solid #dfe6e9;
  border-radius: 2px;
  font-size: 1.1em;
  height: auto;
  margin-top: 10px;
  outline: 0;
  padding: 15px;
  width: 100%;
  background: #dfe6e9;
  color: #9CA1A6;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out;
}
  
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 text-align: right;
}
input::-moz-placeholder { /* Firefox 19+ */
  text-align: right;
}
input:-ms-input-placeholder { /* IE 10+ */
  text-align: right;
}
input:-moz-placeholder { /* Firefox 18- */
  text-align: right;
}

input:focus,
select:focus,
textarea:focus {
 border: 2px solid rgba(70,105,139,1.00);
 box-shadow: 0 0 4px 1px rgba(70,105,139,1.00);
 background-color: #fff;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 6px 20px 0;
}

input[id="area"] {
  width: 50%;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: .8em;
}

label.light {
  font-weight: 300;
  display: inline;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4ebbb5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width:  100%;
  border: 1px solid #4ebbb5;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 768px) {

 header{
   max-width: 100%;
 }

 .form-title h2 {
   font-size: 1.3em;
 }
 
 .form-title p {
  font-size: 1em;
}

 footer,
 form  {
   max-width: 700px;
    margin: 0 auto;
 }

 fieldset div {
  display: flex;
 align-items: baseline;
}

label {
  order: -1;
  flex-basis: 10em;
  font-size: 1em;
}

input,
 select {
  flex: 0 20 auto;
}

fieldset input[id="area"] {
  flex:  0  40%;
}
}